                <div class="columna columna3">
                    <div class="video">
                        <iframe width="350" height="215" src="https://www.youtube.com/embed/eQf4fqNhhPE?si=mJIPOtNZHUJqpmOW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <a href="https://www.youtube.com/" target="blank">
                            <img id="poster" src=https://static.cinepolis.com/resources/mx/movies/posters/414x603/45358-564455-20240202014940.jpg>
                        </a>
                    </div>
                </div>