                <div class="columna columna1">
                    <div class="temas-tendencia">
                        <h2>Temas en Tendencia</h2>
                        <ol>
                            <li>Kimetzu no Yaiba</li>
                            <li>Día de la madre</li>
                            <li>Día del niño</li>
                            <li>Marvel</li>
                            <li>Spy Family</li>
                            <li>Naruto</li>
                            <li>Sailor Moon</li>
                            <li>One Piece</li>
                            <li>Dune</li>
                        </ul>
                    </div>
                    <div class="productos">
                        <a href="#">
                            <img src="https://http2.mlstatic.com/D_NQ_NP_905720-MEC46198157349_052021-O.webp" width="300px">
                        </a>
                    </div>
                </div>