    <main>

        {{> tendencias }}

        <div class="columna columna2">
            <div class="galery">
                <div class="items">
                    <div class="shadow">Camisas</div>
                    <img src="https://i.pinimg.com/736x/64/84/a2/6484a28d9d98d38ac91469f23fb61402.jpg">
                </div>
                <div class="items">
                    <div class="shadow">Vasos</div>
                    <img src="https://s.t13.cl/sites/default/files/styles/manualcrop_850x475/public/t13/field-imagen/2022-09/1664284741-glass2.jpg.jpeg?itok=zobzMUPD">
                </div>
                <div class="items">
                    <div class="shadow">Cuadernos</div>
                    <img src="https://desayunossorpresa.online/wp-content/uploads/2023/11/cuadernos-personalizados-4-700x700.webp">
                </div>
                <div class="items">
                    <div class="shadow">Llaveros</div>
                    <img src="https://amartequiero.com/3718-large_default/llavero-personalizado-regalo-para-mujer.jpg">
                </div>
                <div class="items">
                    <div class="shadow">Camisas</div>
                    <img src="https://streetcc.com/wp-content/uploads/2023/10/camisetas-personalizadas-canal-cero-street-pamplona.1-1.jpg">
                </div>
                <div class="items">
                    <div class="shadow">Billeteras</div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2ZklhYgoKBqzKKrV62MpBws00XeBsSMycswKDU_G2Pw&s">
                </div>
            </div>
            <div class="cont">
                <h1 id="mi_titulo">PERSONALIZADOS SUGUHA</h1>
                <p>Tus <strong>Personalizados</strong> son la esencia que mueve nuestra compañia, es por eso, que realizamos todos los diseños en objetos que hacen parte de tus <strong>recuerdos más especiales</strong> .</p>
                <img src="https://www.altraera.com/wp-content/uploads/2018/03/SAMARRETES-02.jpg">
            </div>
        </div>

        {{> publicidad }}
        
    </main>