<main class="main-prd">
    <div class="tittle-prd">
        <h2>Listado de Productos</h2>
    </div>
    
    <div class="container-items-prd">
        <div class="item">
            <figure>
                <img class="img-prd" src="img/camisas.jpg " alt="producto">
            </figure>
            <div class="info-product">
                <h2>Camisetas</h2>
                <p class="price">$30.000</p>
                <button>A単adir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img class="img-prd" src="img/cuadernos.jpeg " alt="producto">
            </figure>
            <div class="info-product">
                <h2>Cuadernos</h2>
                <p class="price">$20.000</p>
                <button>A単adir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img class="img-prd" src="img/mugs.jpeg " alt="producto">
            </figure>
            <div class="info-product">
                <h2>Mug's</h2>
                <p class="price">$15.000</p>
                <button>A単adir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img class="img-prd" src="img/padmouse.jpeg " alt="producto">
            </figure>
            <div class="info-product">
                <h2>Padmouse</h2>
                <p class="price">$20.000</p>
                <button>A単adir al carrito</button>
            </div>
        </div>
    </div>
</main>